<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords"  content="sport, sportiva, adidas, nike, echipamente sportive, incaltaminte, suplimente alimentare, sale ">
    <meta name="description" content="Echipament sportiv. Suplimente alimentare, imbracaminte si incaltaminte sport.">
   <%- include ("../fragmente/head.ejs") %>

</head>

<body>
  <%- include ("../fragmente/header.ejs") %>
	<body>
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>