<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords"  content="sport, sportiva, adidas, nike, echipamente sportive, incaltaminte, suplimente alimentare, sale ">
    <meta name="description" content="Echipament sportiv. Suplimente alimentare, imbracaminte si incaltaminte sport.">
   <%- include ("../fragmente/head.ejs") %>

</head>

<body>


  
  <%- include ("../fragmente/header.ejs") %>
    <main>


      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
        Open Modal
      </button>
      
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>

        <h2>Home</h2>
        <div class="row">
          <video playsinline autoplay muted loop poster="/resurse/imagini/mingi_mari.jpg" id="bgvid">
            <source src="/resurse/video/prezentare.mp4">
          </video>
        </div>
        <div id=" imagine">
        </div>
        <video controls poster="/resurse/imagini/mingi_mari.jpg" preload="metadata">
          <source src="/resurse/video/prezentare.mp4" type="video/mp4">
          <source src="/resurse/video/prezentare.ogv" type="video/ogv">
          <track label="Romanian" kind="subtitles" srclang="ro" src="/resurse/subtitiles/subtitles-ro.vtt" default>
          <track label="English" kind="subtitles" srclang="en" src="/resurse/subtitiles/subtitles-en.vtt">
        </video>




    </main>

    <%- include ("../fragmente/footer.ejs") %>

</body>

</html>