@page {
    size: A4 portrait;
    margin-bottom:2cm;
    margin-top:2cm;
    counter-increment: page;
        
}
@page:left{

    margin-left:2cm;
    margin-right:1cm;
}
@page:right{

    margin-right:2cm;
    margin-left:1cm;
}


@media print {
	
	#banner {
	display: block;
	width: 70%;
	margin: 0 auto;
	border: 4px inset black;
	padding: 10px;
	text-align: center;
	}

    #grid-pagina>section {
        border: none;
    }
    #grid-pagina {
        font-size: 10px;
        box-sizing: border-box;
        page-break-before: always;
        background-color: white;
        /*
			grid-template-rows: calc(100vh - 10px) 100vh 100vh 100vh;*/

        display: block;
    }
	
    img,
    iframe,
    video,
    #acasa,
    #video-flex {
        visibility: none;
        display: none;
    }
	
	.container {
	display: block;
	}
	.nav{
		display:contents;
	}
	
	a {
	text-decoration: none;
	color: black;
	}
	
	h1 {
	font-size: 2.5em;
	text-align: center;
	text-decoration: underline;
	margin-top: 500px; 
	page-break-after: always;
	}
	
	#Z-date_server_site{
		page-break-after: always;
	}
	
	body::after {
	content: "Teodor-Daniel Balan";
	position: fixed;
	bottom: 0;
	right: 0;
	width: 4cm;
	height: 1cm;
	border: 2px solid black;
	border-radius: 3px;
	opacity: 0.4;
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	padding-top: 0.25cm;
	}

	#banner {
		display: block;
		border: 2px solid black;
		height: 30px;
		width: 70%;
		margin: 0;
		position: absolute;
		bottom: 20px; 
		text-align: center;
		padding-bottom: 40px; 
		line-height: 30px;
	}
	
	
	@page {
	margin: 0;
	}

	
	@page:left {
	margin-left: 3cm;
	margin-right: 1cm;
	}
	
	@page:right {
	margin-left: 1cm;
	margin-right: 3cm;
	}

	footer {
	page-break-before: always;
	}

}
