html {
    font-size: 20px;
}


body {
    /* Folosim nuanțele de albastru și portocaliu în magazinul nostru online de articole sportive pentru a crea o experiență vizuală plăcută și 
    energizantă pentru clienții noștri. Albastrul reprezintă calmul, serenitatea și încrederea, fiind o alegere excelentă pentru articolele noastre 
    de îmbrăcăminte și echipament de sport. Portocaliul simbolizează entuziasmul,
     dinamismul și vitalitatea, fiind o opțiune ideală pentru a adăuga un strop de energie în experiența de cumpărare a clienților noștri. */ 
    --culoare-fundal: #ffffff;
    --culoare-fundal-inchis: #0066cc; /*Pentru nav*/
    --culoare-linii-interimitente:#ff8c42;
    --fundal-deschis:#c7e1f4;
    --fundal-deschis-portocaliu:#ffb4a2;
    --fundal-deschis-albastru:#b3e5fc;
	--culoare-header: #0000009b;
    --culoare-text: #000000;
    --umbra:rgb(127, 145, 152);
    --spatiere-pagina: 50px;
    --padding-sectiune: 30px;
}


body.dark{
	--culoare-fundal: #222222;
	--culoare-fundal-inchis: #6699cc; /* Pentru nav */
	--culoare-linii-interimitente: #6e2302;
	--fundal-deschis: #39414a;
	--fundal-deschis-portocaliu: #ff8c6e;
	--fundal-deschis-albastru: #102e4d;
	--culoare-header: #ffffff9b;
	--culoare-text: #ffffff;
}


body {
    /*general*/
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 400px;
	width: auto;
	height: auto;
    font-family: 'Montserrat Alternates', sans-serif;
}




h1 { 

    font-size: 2.3rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}


 ::selection {
	background-color:var(--culoare-linii-interimitente);
	color: var(--culoare-fundal-inchis);
	text-shadow: 1px 1px var(--umbra);
	border: 2px solid var(--umbra);
  }


#hr {
	border-top: 3px solid black;
	opacity: 100%;
	margin: 0 auto;
	width: 20%;
  }
  
  #pauza {
	width: 0;
	height: 0;
	border-top: 0.6vw solid transparent;	
	border-right: 6vw solid black; 
	border-bottom: 0.6vw solid transparent; 
	float: right; 
	right: 10vw; 
	margin-top: -0.7vw;  
	transform: translateX(-32vw);
  }
  
  #pauza2 {
	  width: 0;
	  height: 0;
	  border-top: 0.6vw solid transparent;
	  border-left: 6vw solid black; 
	  border-bottom: 0.6vw solid transparent; 
	  float:left;
	  margin-top: 1.4vw; 
	  transform: translateX(32vw);
  
  }

#column-container {
	column-count: 2;
	column-gap: 20px;
	column-rule: 1px solid black;
  }

main{
	background-color: var(--culoare-fundal);
}
.container {
	background-color: var(--culoare-fundal);
  }


  

  #bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    z-index: -100;
}

.disclaimer-banner {
  position: fixed;
  bottom: 0;
/*middle*/
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 15%;
  background-color: var(--culoare-fundal-inchis);
  transition: opacity 5s, background-color 5s;
  padding: var(--padding-sectiune);
  height: 25vh;
  width: 25vw;
  opacity: 0;
}


.banner-content p:first-of-type {
  margin-left: -8px;
}

.banner-content p {
  font-size: 1.5vw;
  margin-bottom: 10px;
  color: var(--culoare-text);
}

.banner-content button {
  background-color: var(--culoare-fundal-inchis);
  color: var(--text-white);
  border: black solid 1px;
  cursor: pointer;
  position: relative;
  left: 40%;
}

@keyframes bannerAnimation {
  0% {
      opacity: 0;
      background-color: var(--fundal-deschis-albastru);
  }

  100% {
      opacity: 100%;
      background-color: var(--culoare-linii-interimitente);
  }
}

.disclaimer-banner.animation {
  animation: bannerAnimation 3s forwards;
}