#link-top {
  position: fixed;
  bottom: 1em;
  left: 94.8%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border: 1px solid var(--culoare-linii-interimitente);
  transform: rotate(45deg);
  transition: all 0.8s ease-out;
  opacity: 0.4;
}

#link-top:hover {
  background: var(--culoare-fundal-inchis) !important;
}

#triunghi {
  height: 0.25rem;
  width: 0;
  display: inline-block;
  border-left: 1.1rem solid transparent;
  border-right: 1.1rem solid transparent;
  border-top: 1.6rem solid var(--culoare-fundal-inchis) !important;
  vertical-align: top;
  transform: rotate(135deg) translateX(20%);

  border-radius: 50%;
  opacity: 0.2;
}

a#link-top:hover #triunghi {
  border-top-color: var(--culoare-linii-interimitente)!important;
  opacity: 0.8 !important;
}

/*Ce bug interesant*/

@media print {

#banner {
display: block;
width: 70%;
margin: 0 auto;
border: 4px inset black;
padding: 10px;
text-align: center;
}

  #grid-pagina>section {
      border: none;
  }
  #grid-pagina {
      font-size: 10px;
      box-sizing: border-box;
      page-break-before: always;
      background-color: white;
      /*
    grid-template-rows: calc(100vh - 10px) 100vh 100vh 100vh;*/

      display: block;
  }

	img, video, iframe, .nav,.container-iframe, [href="#top"], [href="#"], [role="banner"], [role="navigation"], figcaption {
    display: none !important;
    }

.container {
display: block;
}
.meniu >*{
  display: none;
}

header {
  display: none;
}

a {
text-decoration: none;
color: black;
}

h1 {
font-size: 2.5em;
text-align: center;
text-decoration: underline;
margin-top: 500px; 
page-break-after: always;
}
h1::after{

}
#Z-date_server_site{
  page-break-after: always;
}

#Z-anunturi{
  page-break-after: always;
}

body::after {
content: "Copyright Teodor";
position: fixed;
bottom: 0;
right: 0;
width: 4cm;
height: 1cm;
border: 2px solid black;
border-radius: 3px;
opacity: 0.4;
font-size: 0.8em;
font-weight: bold;
text-align: center;
padding-top: 0.25cm;
padding-bottom: 10px;
margin-bottom: 10px;
}

#banner {
  display: block;
  border: 2px solid black;
  height: 30px;
  width: 70%;
  margin: 0;
  position: absolute;
  bottom: 20px; 
  text-align: center;
  padding-bottom: 40px; 
  margin-right: 200px;
  line-height: 30px;
}

@page {
  size: A4 portrait;
  margin-bottom:2cm;
  margin-top:2cm;
  counter-increment: page;
    
}
@page:left{

  margin-left:2cm;
  margin-right:1cm;
}
@page:right{

  margin-right:2cm;
  margin-left:1cm;
}


@page {
margin: 0;
}


@page:left {
margin-left: 3cm;
margin-right: 1cm;
}

@page:right {
margin-left: 1cm;
margin-right: 3cm;
}

footer {
page-break-before: always;
}

}
