#hamburger, #ch-menu{
    display: none;
}
body{
    --inaltime-meniu:90px;
    --latime-buton:220px;
    --culoare-meniu:var(--culoare-fundal-inchis);
    --culoare-border-buton:black;
}
nav{
    --text-meniu:black;
    background-color: var(--culoare-meniu);
    width:calc(100vw - 18px); /*elimin scroll bar*/
    height: var(--culoare-meniu);
    position: sticky; /*sa urmareasca nav-ul*/
    top: 0; 
    margin-left: calc(-1 * var(--spatiere-pagina))


}
ul.meniu, ul.meniu ul{
    padding: 0;
    margin:0 ;
    list-style-type:none;
}

ul.meniu{
    display: flex;
    justify-content: center; /*sigla stanga*/
}

ul.meniu li{
    width: var(--latime-buton);
    height: var(--inaltime-meniu);
    background-color: var(--culoare-meniu);
    overflow: hidden;
    text-align: center;
    border: 1px solid var(--culoare-border-buton);
    transition: background-color 0.3s ease; /* add transition property */
    animation: scale-up-center 1s; /* add animation property */
    transition: background-color 0.8s linear   ;

}
ul.meniu ul{
    opacity: 0;
    transition: all 0.5s linear; /*durata pana sa vede*/
    transform: scale(0,0);
    transform-origin: center top;
}
ul.meniu li:hover{
    overflow: visible;
    background-color:cornflowerblue; /*sa se schimbe cand ii dau hover*/ 

}
ul.meniu li:hover ul{
    opacity: 1;
    transform: scale(1,1);
    font-style: italic;

}
ul.meniu li:hover div, ul.meniu a{
    animation: scale-up-center 1s;
}

@keyframes scale-up-center { /*durata si efectul animatiei*/
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  
ul.meniu li div, ul.meniu li a{
    display: block;
    width: 100%; /*este implicit in block*/
    height: 100%;
    color: var(--text-meniu);
    text-decoration: none;
    font-weight: bold;
    line-height: var(--inaltime-meniu);
}