h2{
    text-align: center;
    margin:0;
    padding:0.4rem;
    background-color:none;
    color: var(--culoare-text);
    font-size:1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
    padding-bottom: 1rem;

}
#art-produs{
    margin:0 auto;
    width:70%;
    max-width:700px;
    background-color: var(--fundal-deschis);
    box-shadow: 0px 0px 10px 5px grey; 
}

#art-produs p{
    margin:0;
    font-weight:bold;
    padding:0.2rem; 
    font-size:1.1rem;
}

#art-produs p span{
    font-weight: normal;
}
#art-produs p:nth-of-type(even){
    color: var(--culoare-linii-interimitente);
}

.imag-produs{
    text-align: center;
}
.imag-produs img{
    text-align: center;
    width:300px;
    height:250px;
    padding-bottom: 0.5rem;
}
@media screen and (max-width: 750px){
    #art-produs{
        margin:0 auto;
        width:95%;
    }
}
