#text-reflectat {
	position: absolute;
	left: 0;
	top: 100%;
	transform-origin: 0 0;
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(90px, -5px); 
	opacity: 0.55;
	filter: blur(1.5px);
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	transition: transform 2s, font-size 2s; /* Animation */
}

#text-reflectat:hover {
	transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(90px, -5px) scale(1.2); /* Add a scale transform */
	transition: transform 2s, font-size 2s; /* Increase transition duration */
	font-size: 10rem;

}

#text {
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	position: relative;
}


