<link rel="stylesheet" href="/resurse/css/links.css" type="text/css" />

<footer>
    <a href="#" id="link-top" title="Buton Înapoi sus">           
        <div id="triunghi" title="Buton Înapoi sus"></div>
    </a>
    
        <section id="Intrebari">
            <h2>Intrebari frecvente</h2>
            <details>
                <summary>Care sunt modalitatile de plata acceptate?</summary>
                <p>Acceptăm plăți prin card bancar (VISA, Mastercard), PayPal și plata ramburs.</p>
            </details>

            <details>
                <summary>Care este timpul de livrare al comenzii mele?</summary>
                <p>Timpul de livrare depinde de locația dvs. și de metoda de livrare selectată. De obicei, livrarea
                    durează între 1 și 5 zile lucrătoare.</p>
            </details>

            <details>
                <summary>Cum pot returna un produs?</summary>
                <p>Pentru a returna un produs, trebuie să ne contactați în termen de 14 zile de la primirea
                    acestuia. Vă
                    vom oferi instrucțiuni detaliate privind procesul de returnare.</p>
            </details>
        </section>

    

        <section id="Politica">
            <!--
            <div class="container">
                <div id="pauza2"></div>
                <div id="hr"></div>
                <div id="pauza"></div>
              </div>
            -->
            <h2>Poltica de confidentialitate</h2>
        </section>
        Termenii si conditiile:  <a href="resurse/documente/document.pdf" download class="footer-link">Termenii si conditiile</a><br>
        <address>
            Contact<a href="tel:+7732657369" class="footer-link"><i class="fa-solid fa-phone"></i></a>
            Adresă:<a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" class="footer-link">Adresă</a><br>
            E-mail:<a href="mailto:teobalan79@yahoo.com" class="footer-link"><i class="fa-solid fa-envelope fa-bounce"></i></i></a>
            <a href="https://wa.me/+40732657369/?text=Mesajul_dvs" class="footer-link">Whatsapp</a>
        </address>
        <div id="banner"> Acesta este un proiect scolar !</div>
        <p><small>Copyright &copy; 2023 Teodor-Daniel Balan</small></p>
        <p><small>Proiect cu scop educativ <time datetime="2023-02-27T23:09:00+02:00">27 februarie 2023,
                    23:09</time> </small> </p>
    </section>
    
</footer>