    <div id="galerie-animata" class="galerie-a">
        <% for (let imag of locals.imagini) { 
                     %>
                        <figure>
                            <picture>
                                <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                                <img src="<%- imag.fisier %>" alt="imagine">
                            </picture>
                            <figcaption><%- imag.descriere %></figcaption>
                        </figure>
                <% }  %>
    </div>