<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<meta name="author" content="Teodor-Daniel Balan">
<title>TeoSport</title>
<link rel="stylesheet" href="/resurse/css/customizare_bootstrap.css" type="text/css"> 
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/imagini/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/imagini/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resurse/imagini/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/imagini/ico/site.webmanifest">
<link rel="mask-icon" href="/resurse/imagini/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resurse/imagini/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#0066cc">
<meta name="msapplication-config" content="/resurse/imagini/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>

<link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />

<!--<link rel="stylesheet" href="/resurse/css/reset.css" type="text/css"> -->

<link rel="stylesheet" href="/resurse/css/logo.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/girdpagina.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/general1000.css" type="text/css" media="screen and (max-width:1000px)" />

<link rel="stylesheet" href="/resurse/css/general750.css" type="text/css" media="screen and (max-width:750px)" />

<link rel="stylesheet" href="/resurse/css/Z-sale.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/Z-produse.css" type="text/css"  />

<link rel="stylesheet" href="/resurse/css/tabel.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/tabel750.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/iframe.css" type="text/css" />    

<link rel="stylesheet" href="/resurse/css/linktop.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/a.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/nav1000.css" type="text/css" media="screen and (max-width:1000px)" />

<link rel="stylesheet" href="/resurse/css/nav750.css" type="text/css" media="screen and (max-width:750px)" />

<link rel="stylesheet" href="/resurse/css/galerie_animata.css" type="text/css"/>

<link rel="stylesheet" href="/resurse/css/swim.css" type="text/css" />

<link rel="stylesheet" href="/resurse/css/reflexie.css" type="text/css" />











