<h2>Video</h2>  
<div class="container-iframe">
    <div class="taburi-iframe">
        <a href="https://www.youtube.com/embed/kmzStpkxkBM" target="ifr-video">Campionul nostru!</a>
        <a href="https://www.youtube.com/embed/Fr8ZEvlag9U" target="ifr-video">Vino la Maraton!</a>
        <a href="https://www.youtube.com/embed/Qg6i441M4Tg" target="ifr-video">Uite ce poti realiza!</a>
    </div>
    <div class="iframe-container">
        <iframe name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/Qg6i441M4Tg"
        poster="/resurse/mingi.jpg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen preload="auto">
         <track kind="subtitles" src="resurse/subtitles/subtitles-ro.vtt" srclang="ro" label="Română" default>
         <track kind="subtitles" src="resurse/subtitles/subtitles-en.vtt" srclang="en" label="English">
     
        </iframe>

    </div>

</div>
