html {
    font-size: 20px;
}


body {
    /* Folosim nuanțele de albastru și portocaliu în magazinul nostru online de articole sportive pentru a crea o experiență vizuală plăcută și 
    energizantă pentru clienții noștri. Albastrul reprezintă calmul, serenitatea și încrederea, fiind o alegere excelentă pentru articolele noastre 
    de îmbrăcăminte și echipament de sport. Portocaliul simbolizează entuziasmul,
     dinamismul și vitalitatea, fiind o opțiune ideală pentru a adăuga un strop de energie în experiența de cumpărare a clienților noștri. */ 
    --culoare-fundal: #f1f1f1;
    --culoare-fundal-inchis: #0066cc; /*Pentru nav*/
    --culoare-linii-interimitente:#ff8c42;
    --fundal-deschis:#c7e1f4;
    --fundal-deschis-portocaliu:#ffb4a2;
    --fundal-deschis-albastru:#b3e5fc;
    --culoare-text: #000000;
    --umbra:rgb(127, 145, 152);
    --spatiere-pagina: 50px;
    --padding-sectiune: 17px;
}


body.dark {
    /*dark-mode*/
    --culoare-fundal: black;
    --culoare-text: white;

}

body {
    /*general*/
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    min-width: 400px;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    /*resetat proprietati baza css*/
    margin: 0;
    text-align: center;
}


h1 { 

    font-size: 2.3rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

img {
    width: 100%;
    max-width: auto;
    min-width: auto;
}




@media print {

    #Special {
        page-break-after: always;
        margin-top: 50%;
        text-align: center;
        margin-left: 1cm;
    }

    #grid-pagina {
        font-size: 10px;
        box-sizing: border-box;
        page-break-before: always;
        background-color: white;
        /*
			grid-template-rows: calc(100vh - 10px) 100vh 100vh 100vh;*/

        display: block;
    }

	
	#grid-pagina>* {
		border: none;
		padding: 0;
		background-color: transparent;
	  }
	

    html,
    body {
        width: 210mm;
        /* height: 297mm; */
        /*height: 282mm;*/
        overflow: visible !important;
    }

    #grid-pagina div:nth-child(5) {

        page-break-before: always;
    }


    #watermark {
        display: block;
        position: fixed;
        /*apare pe toate paginile*/
        bottom: 0;
        color: rgba(0, 0, 0);
        right: 0;
    }

    #watermark::after {

        opacity: 0.4;
        padding: 5px;
        height: 1cm;
        width: 4cm;
        line-height: 1cm;
        display: block;
        background: white;
        border: 2px solid black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: none;
        content: "Copyright Balan Teodor-Daniel";
    }

    #end {
        page-break-before: always;
    }

    img,
    video,
    iframe,
    #outer,
    #inner,
    nav,
    link,
    .taburi-iframe {
        display: none;
    }

    #banner {
        display: block;
        border: 5px solid black;
        height: 30px;
        width: 70%;
        margin: 0;
        position: absolute;
        bottom: 0;
        text-align: center;
        line-height: 30px;
    }

    header {
        border: none;
    }

    

    #grid-pagina>section {
        border: none;
    }



    footer {
        border: none;
    }
}


@page {
	size: A4 portrait;
	margin-bottom: 2cm;
	margin-top: 2cm;
	counter-increment: page;
  }
  
	@page:left{

		margin-left:2cm;
		margin-right:1cm;
		border-radius: 20cm;
	}
	@page:right{

		margin-right:2cm;
		margin-left:1cm;
	}

	@media screen and (max-width: 600px) {
		#grid-pagina {
			grid-template-areas: "z-prezentare"
				"z-calendar"
				"z-tabel"
				"z-anunturi"
				"z-lista"
				"z-statistici"
				"z-site"
				"z-altele";
		}
	}
	
	
.container-iframe {
    position: relative;
    display: flex;
    flex-direction: row;
}

.taburi-iframe {
    position: relative;
    display: flex;
    flex-direction: column;
}

.taburi-iframe a {
    text-decoration: none;
    color: var(--text-white);
    background-color: var(--background-color);
    padding: 10px;
    width: 100px;
    height: 25px;
    margin-bottom: 3px;
    margin-top: 2.5px;
    margin-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: width 0.5s;
    outline: double 3px var(--complement2);

}

.taburi-iframe a:hover {
    background-color: var(--complement3);
    width: 115px;
}

#ifr-video {
    border: inset 5px var(--complement2);
}