html{
    font-size: 16px;
}

body{
    --sparitere-pagina:30px;
    --padding-sectiune:12px;
}
#grid-pagina{

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
                        "Z-pattern Z-pattern"
                        "Z-utilizatori Z-date_utilitzatori"
                        "Z-date_server_site Z-calendar"
                        "Z-tabel  Z-tabel "
                        "Z-anunturi  Z-tabel"
                        "Z-produse  Z-produse"
                        "Z-produse  Z-produse"
                        ;
    gap:12px 7px ;
}

body * {
    transition: none;
    animation: none;
}


