body{
    --inaltime-meniu:45px;
    --latime-buton:100px;   
}

#acasa{
    display: none;
}
body.disable-hover ul.meniu > li:not(:has(ul)):not(.sale):not(.produse):hover::before {
    transform: scaleX(0);
  }

#acasa-mediu{
    display: block;
}